# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# HuggingFace cache
~/.cache/huggingface/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Guia 
atividade.pdf